body{
    background: black;
}

.button img{
    height: 70px;
    margin: 20px;
    opacity: 0.9;
}

.button img:hover{
    height: 80px;
    opacity: 1;
}

.name{
    font-size: 50px;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    color: rgb(81, 255, 13)
}

.main {
    height: 5px;
}

hr{
    color: rgb(81, 255, 13);
    height: 1px;
    background: rgb(81, 255, 13);
}

.img{
    display: flex;
    margin: 30px auto;
}

.content{
    text-align: center;
    color: rgb(81, 255, 13);
    font-family: monospace;
}

.items{
    color: rgb(81, 255, 13);
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    display: block;
}

/*responsive rules*/

@media screen and (max-width: 650px){

    .name{
        font-size: 30px;
    }

    .items{
        font-size: 15px;
    }

    .main{
        height: 3px;
    }

    .button img{
        height: 40px;
    }

    .button img:hover{
        height: 50px;
    }
}
